/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-carousel--font: var(--il-font-sans);
        --ilw-carousel--height: 500px;

        --ilw-carousel--background: #fff;
        --ilw-carousel--control--height: 80px;
        --ilw-carousel--control--background: var(--il-storm-lighter-4);
        --ilw-carousel--progress--width: 300px;
        --ilw-carousel--progress--height: 10px;
        --ilw-carousel--progress--background: var(--il-blue);
        --ilw-carousel--progress--foreground: var(--il-orange);

        --ilw-carousel--tabs--column-gap: 10px;
        --ilw-carousel--tabs--margin-top: 10px;

        --ilw-carousel--play--height: 40px;
        --ilw-carousel--play--font: 400 1.8rem/1 var(--il-font-sans);
        --ilw-carousel--tabs--height: 32px;
        --ilw-carousel--tabs--width: 32px;
        --ilw-carousel--tabs--font: 700 1.188rem/1.5 var(--il-font-sans);

        --ilw-carousel--content-min-height: 130px;

        --ilw-carousel--button--border-width: 2px;
        --ilw-carousel--button--background-color: var(--il-blue);
        --ilw-carousel--button--foreground-color: #fff;
        --ilw-carousel--button--border-color: var(--il-blue);
        --ilw-carousel--button--focused-background-color: #fff;
        --ilw-carousel--button--focused-foreground-color: var(--il-blue);
        --ilw-carousel--button--focused-border-color: var(--il-blue);
        --ilw-carousel--button--active-color: var(--il-blue);
        --ilw-carousel--button--active-background-color: var(--il-orange);
        --ilw-carousel--button--active-border-color: var(--il-blue);

        --ilw-carousel--prevnext--height: 160px;
        --ilw-carousel--prevnext--width: 44px;
        --ilw-carousel--prevnext--background: var(--ilw-carousel--button--background-color);
        --ilw-carousel--prevnext--foreground: var(--ilw-carousel--button--foreground-color);
        --ilw-carousel--prevnext--border-width: var(--ilw-carousel--button--border-width);
        --ilw-carousel--prevnext--border-color: var(--ilw-carousel--button--border-color);
        --ilw-carousel--prevnext--line-height: 1;
        --ilw-carousel--prevnext--font-size: 1rem;
    }
}

:host([theme="blue"]) {
    --ilw-carousel--control--background: var(--il-blue);
    --ilw-carousel--progress--background: #fff;
    --ilw-carousel--button--background-color: #fff;
    --ilw-carousel--button--foreground-color: var(--il-blue);
    --ilw-carousel--button--border-color: #fff;
    --ilw-carousel--button--focused-background-color: var(--il-blue);
    --ilw-carousel--button--focused-foreground-color: #fff;
    --ilw-carousel--button--focused-border-color: #fff;
    --ilw-carousel--button--active-color: var(--il-blue);
    --ilw-carousel--button--active-background-color: var(--il-orange);
    --ilw-carousel--button--active-border-color: var(--il-orange);

    --ilw-carousel--prevnext--background: var(--il-blue);
    --ilw-carousel--prevnext--foreground: #fff;
    --ilw-carousel--prevnext--border-color: var(--il-blue);
}

:host {
    display: block;
    container-type: inline-size;
    contain: layout;
    font-family: var(--ilw-carousel--font);
}

.carousel-inner, .carousel-inner-single {
    position: relative;
    container-type: inline-size;
    overflow: hidden;
    background: var(--ilw-carousel--background);

    &.fixed {
        left:50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding-left: 0;
        padding-right: 0;
        right: 50%;
        width: 100vw;
        display: block;
    }
}

.slide {
    visibility: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    flex: 0 0 100%;
    order: 2;

    &.active {
        visibility: visible;
        z-index: 0;
        order: 1;
    }
}

#carousel-items {
    width: 100%;
    display: flex;
    align-items: stretch;
}


.control-position {
    position: absolute;
    top: calc(var(--ilw-carousel--height));
    padding-top: 10px;
    height: var(--ilw-carousel--control--height);
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--ilw-carousel--control--background);
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress-wrap {
    width: var(--ilw-carousel--progress--width);
    height: var(--ilw-carousel--progress--height);
    background: var(--ilw-carousel--progress--background);
}
#progress {
    height: var(--ilw-carousel--progress--height);
    background: var(--ilw-carousel--progress--foreground);
}

.control-inner {
    display: flex;
    align-items: center;
    column-gap: var(--ilw-carousel--tabs--column-gap);
    margin-top: var(--ilw-carousel--tabs--margin-top);
}

#play-pause, .tabs > button, .previous-button, .next-button {

    background-color: var(--ilw-carousel--button--background-color);
    border: var(--ilw-carousel--button--border-width) solid var(--ilw-carousel--button--border-color);
    
    color: var(--ilw-carousel--button--foreground-color);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &:visited {
        background-color: var(--ilw-carousel--button--background-color);
        border: var(--ilw-carousel--button--border-width) solid var(--ilw-carousel--button--border-color);
        color: var(--ilw-carousel--button--foreground-color);
    }

    &:hover {
        background-color: var(--ilw-carousel--button--focused-background-color);
        border-color: var(--ilw-carousel--button--focused-border-color);
        color: var(--ilw-carousel--button--focused-foreground-color);
    }

    &:focus {
        background-color: var(--ilw-link--focus-background-color);
        border-color: var(--ilw-link--focus-color);
        color: var(--ilw-link--focus-color);
        outline: var(--ilw-link--focus-outline)
    }

    &:active {
        background-color: var(--ilw-carousel--button--active-background-color);
        border-color: var(--ilw-carousel--button--active-border-color);
        color: var(--ilw-carousel--button--active-color);
        outline: solid var(--ilw-carousel--button--active-border-color) var(--ilw-carousel--button--border-width)
    }
}

.previous-wrap, .next-wrap {
    position: absolute;
    top: calc(var(--ilw-carousel--height)/2 - var(--ilw-carousel--prevnext--height)/2);
    z-index: 1;
}
.previous-wrap {
    left: 0;
}
.next-wrap {
    right: 0;
}

.previous-button, .next-button {
    width: var(--ilw-carousel--prevnext--width);
    height: var(--ilw-carousel--prevnext--height);

    background-color: var(--ilw-carousel--prevnext--background);
    border: var(--ilw-carousel--prevnext--border-width) solid var(--ilw-carousel--prevnext--border-color);

    color: var(--ilw-carousel--prevnext--foreground);
    line-height: var(--ilw-carousel--prevnext--line-height);
    font-size: var(--ilw-carousel--prevnext--font-size);
}

#play-pause {
    height: var(--ilw-carousel--play--height);
    flex: 0 0 var(--ilw-carousel--play--height);
    box-sizing: border-box;
    font: var(--ilw-carousel--play--font);
}

.tabs {
    display: flex;
    column-gap: var(--ilw-carousel--tabs--column-gap);

    & > button {
        width: var(--ilw-carousel--tabs--height);
        height: var(--ilw-carousel--tabs--width);
        font: var(--ilw-carousel--tabs--font);

        &.selected {
            background-color: var(--ilw-carousel--button--active-background-color);
            border-color: var(--ilw-carousel--button--active-border-color);
            color: var(--ilw-carousel--button--active-color);

            &:focus {
                background-color: var(--ilw-link--focus-background-color);
                border-color: var(--ilw-link--focus-color);
                color: var(--ilw-link--focus-color);
                outline: var(--ilw-link--focus-outline)
            }
        }
    }
}
