/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-carousel--font: var(--il-font-sans); /*var: Font for the carousel text content*/
        --ilw-carousel--height: 500px; /*var: Carousel image height*/

        --ilw-carousel--control--height: 80px; /*var: Height of the controls area*/
        --ilw-carousel--control--compact--height: 46px; /*var: Height of the controls area*/
        --ilw-carousel--control--background: var(--il-storm-95); /*var: Background of the controls area*/
        --ilw-carousel--progress--width: 300px; /*var: Width of the progress bar */
        --ilw-carousel--progress--compact--width: 160px; /*var: Width of the progress bar */
        --ilw-carousel--progress--height: 10px; /*var: Height of the progress bar*/

        --ilw-carousel--tabs--column-gap: 10px; /*var: Spacing between slide number tabs*/
        --ilw-carousel--tabs--compact--column-gap: 2px; /*var: Spacing between slide number tabs*/
        --ilw-carousel--tabs--margin-top: 10px; /*var: Spacing above slide number tabs*/

        --ilw-carousel--play--height: 40px; /*var: Play button height*/
        --ilw-carousel--play--font: 400 2.125rem/0.8 var(--il-font-sans); /*var: Play button font*/
        --ilw-carousel--tabs--height: 32px; /*var: Slide number tab height*/
        --ilw-carousel--tabs--width: 32px; /*var: Slide number tab width*/
        --ilw-carousel--tabs--font: 700 1.188rem/1.5 var(--il-font-sans); /*var: Slide number tab font*/

        --ilw-carousel--button--border-width: 2px; /*var: Control buttons border width*/
        --ilw-carousel--button--compact--border-width: 5px; /*var: Control buttons border width*/

        --ilw-carousel--prevnext--height: 160px; /*var: Height of the previous/next buttons*/
        --ilw-carousel--prevnext--width: 46px; /*var: Width of the previous/next buttons*/
        --ilw-carousel--prevnext--border-width: 2px; /*var: Border width of the previous/next buttons*/
        --ilw-carousel--prevnext--line-height: 1; /*var: Line height of the previous/next buttons */
        --ilw-carousel--prevnext--font-size: 1rem; /*var: Font size of the previous/next buttons */
    }
}

:host([theme="blue"]) {
    --ilw-carousel--control--background: var(--ilw-color--background);
}

:host {
    display: block;
    container-type: inline-size;
    contain: layout;
    font-family: var(--ilw-carousel--font);
}

.carousel-inner, .carousel-inner-single {
    position: relative;
    container-type: inline-size;
    overflow: hidden;
    background: var(--ilw-color--background);

    &.fixed {
        left:50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding-left: 0;
        padding-right: 0;
        right: 50%;
        width: 100vw;
        display: block;
    }
}

.slide {
    visibility: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    flex: 0 0 100%;
    order: 2;

    &.active {
        visibility: visible;
        z-index: 0;
        order: 1;
    }
}

#carousel-items {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.control-position {
    position: absolute;
    top: calc(var(--ilw-carousel--height));
    padding-top: 10px;
    height: var(--ilw-carousel--control--height);
    left: 0;
    right: 0;
    z-index: 1;
    background: var(--ilw-carousel--control--background);
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress-wrap {
    width: var(--ilw-carousel--progress--width);
    height: var(--ilw-carousel--progress--height);
    background: var(--ilw-color--control-text);
}
#progress {
    height: var(--ilw-carousel--progress--height);
    background: var(--ilw-color--control-accent);
}

.control-inner {
    display: flex;
    align-items: center;
    column-gap: var(--ilw-carousel--tabs--column-gap);
    margin-top: var(--ilw-carousel--tabs--margin-top);
}
.compact {
    .control-position {
        position: absolute;
        display: flex;
        justify-content: center;
        top: calc(var(--ilw-carousel--height));
        background: none;
        height: var(--ilw-carousel--control--compact--height);
        padding: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .control {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 10px;
        gap: 10px;
        background: var(--ilw-color--background);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #progress-wrap {
        width: var(--ilw-carousel--progress--compact--width);
        background: var(--ilw-color--control);
    }

    .control-inner {
        column-gap: var(--ilw-carousel--tabs--compact--column-gap);
        margin: 0;
    }
}

.previous-button, .next-button, .play-pause, .tabs > button {
    background-color: var(--ilw-color--control);
    border: var(--ilw-carousel--button--border-width) solid var(--ilw-color--control-text);
    color: var(--ilw-color--control-text);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;

    &:hover, &:is([data-simulate-hover] *) {
        background-color: var(--ilw-color--control-text);
        border-color: var(--ilw-color--control-text);
        color: var(--ilw-color--control);
        text-decoration: underline;
    }

    &:focus-visible, &:is([data-simulate-focus] *) {
        background-color: var(--ilw-link--focus-background-color);
        border-color: var(--ilw-link--focus-color);
        color: var(--ilw-link--focus-color);
    }

    &:active {
        background-color: var(--ilw-color--control-accent);
        border-color: var(--ilw-color--control-text);
        color: var(--ilw-color--control-text);
    }
}

.compact {
    .play-pause {
        margin-right: 8px;
        &:hover, &:is([data-simulate-hover] *) {
            background-color: var(--ilw-color--control-accent);
            border-color: var(--ilw-color--control-text);
            color: var(--ilw-color--control-text);
            text-decoration: none;
        }

        &:focus, &:is([data-simulate-focus] *) {
            background-color: var(--ilw-link--focus-background-color);
            border-color: var(--ilw-link--focus-color);
            color: var(--ilw-link--focus-color);
            outline: var(--ilw-link--focus-outline)
        }
    }
    .tabs > button {
        background-color: var(--ilw-color--background);
        border: var(--ilw-carousel--button--border-width) solid var(--ilw-color--control-text);

        color: var(--ilw-color--control-text);
        cursor: pointer;
        display: inline-block;
        text-align: center;
        text-decoration: none;

        &:hover, &:is([data-simulate-hover] *) {
            background-color: var(--ilw-color--control-accent);
            border-color: var(--ilw-color--control-text);
            color: var(--ilw-color--control);
            text-decoration: underline;
        }

        &:focus, &:is([data-simulate-focus] *) {
            background-color: var(--ilw-color--focus--background);
            border-color: var(--ilw-color--focus--outline);
            color: var(--ilw-color--focus--text);
            outline-color: var(--ilw-color--focus--outline);
        }

        &:active {
            background-color: var(--ilw-color--control-accent);
            border-color: var(--ilw-color--control-text);
            color: var(--ilw-color--control-text);
        }
    }
}

.previous-wrap, .next-wrap {
    position: absolute;
    top: calc(var(--ilw-carousel--height)/2 - var(--ilw-carousel--prevnext--height)/2);
    z-index: 1;
}
.previous-wrap {
    left: 0;
}
.next-wrap {
    right: 0;
}

button.previous-button, button.next-button {
    width: var(--ilw-carousel--prevnext--width);
    height: var(--ilw-carousel--prevnext--height);

    background-color: var(--ilw-color--background);
    border: var(--ilw-carousel--prevnext--border-width) solid var(--ilw-color--background);

    color: var(--ilw-color--control-text);
    line-height: var(--ilw-carousel--prevnext--line-height);
    font-size: var(--ilw-carousel--prevnext--font-size);

    &:hover, &:is([data-simulate-hover] *) {
        text-decoration: none;
    }
}

button.play-pause {
    height: var(--ilw-carousel--play--height);
    flex: 0 0 var(--ilw-carousel--play--height);
    box-sizing: border-box;
    font: var(--ilw-carousel--play--font);
    &:hover {
        text-decoration: none;
    }
}

.tabs {
    display: flex;
    column-gap: var(--ilw-carousel--tabs--column-gap);

    & > button {
        width: var(--ilw-carousel--tabs--height);
        height: var(--ilw-carousel--tabs--width);
        font: var(--ilw-carousel--tabs--font);

        &.selected {
            background-color: var(--ilw-color--control-accent);
            border-color: var(--ilw-color--control-text);
            color: var(--ilw-color--control-text);

            &:focus, &:is([data-simulate-focus] *) {
                background-color: var(--ilw-link--focus-background-color);
                border-color:var(--ilw-link--focus-background-color);
                color: var(--ilw-link--focus-color);
                outline: var(--ilw-link--focus-outline)
            }
        }

        &:hover, &:is([data-simulate-hover] *) {
            background-color: var(--ilw-color--control-accent);
            color: var(--ilw-color--control-text);
        }

        &:active {
            background-color: var(--ilw-carousel--button--active-background-color);
            border-color: var(--ilw-carousel--button--active-border-color);
            color: var(--ilw-carousel--button--active-color);
            outline: solid var(--ilw-carousel--button--active-border-color) var(--ilw-carousel--button--border-width)
        }
    }
}
