/* Styleable variables are in the base layer so they can be overridden easily */
@layer base {
    :host {
        --ilw-slide--background: #fff;
    }
}

:host {
    display: block;
    width: 100%;
}


.image {
    ::slotted(img) {
        width: 100%;
        height: 500px;
        object-fit: cover;
        display: block;
    }
}

.slide-inner {
    display: flex;
    flex-direction: column-reverse;
    background: var(--ilw-slide--background);
}

.content-wrap {
    display: flex;
    justify-content: center;
    padding: 60px var(--ilw-margin--side) 1rem;
}

.content {
    flex: 0 1 600px;
}